@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
:root{
    --Red:hsl(0, 78%, 62%);
    --Cyan:hsl(180, 62%, 55%);
    --Orange:hsl(34, 97%, 64%);
    --Blue:hsl(212, 86%, 64%);
    --Very-dark-blue:hsl(234, 12%, 34%);
    --Grayish-Blue:hsl(229, 6%, 66%);
    --Very-Light-Gray:hsl(0, 0%, 98%);
    --ff-extra-light:200;
    --ff-regular:400;
    --ff-semibold:600;
}
* {
    box-sizing: border-box;
  }

  html {
    font-size: calc(60% + 0.8vmin);
  }

  
  body {
    background-color: var(--Very-Light-Gray);
    font-family: "Poppins", sans-serif;
  }

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 1rem;
    
    
}

h1 {
    font-weight: 200;
    font-size: 2rem;
    margin: 0;
    color: var(--Very-dark-blue);
}

p {
    color: var(--Grayish-Blue);
}

h2 {
    font-size: 2rem;
    margin: 0%;
    color: var(--Very-dark-blue);
}

h3 {
    color: var(--Very-dark-blue);
    margin: 0;
}


section{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    
}

.team-karma-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

img{
    float: right;
}

.supervisor {
    border-block-start: 3px black solid ;
    border-block-start-color: var(--Cyan);
}

.team-builder {
    border-block-start: 3px black solid ;
    border-block-start-color: var(--Red);
}

.karma {
    border-block-start: 3px black solid ;
    border-block-start-color: var(--Orange);
}
.calculator {
    border-block-start: 3px black solid ;
    border-block-start-color: var(--Blue);
}

.supervisor,
.team-builder,
.karma,
.calculator{
    
    margin: 1rem;
    padding: 1.5rem;
    border-radius: 3%;
    inline-size: 22rem;
    background-color: white;
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.35);
}


 
@media screen and (max-width: 735px) {
    section {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .supervisor,
    .team-builder,
    .karma,
    .calculator{
        inline-size: 22rem;
    }
        
}

@media screen and (max-width: 375px) {
    .supervisor,
    .team-builder,
    .karma,
    .calculator{
        inline-size: auto;
    }

}



